/** @format */

body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
body.disable {
	overflow: hidden;
}
input[type='text'],
input[type='email'] {
	font-size: inherit;
	font-family: 'DM Sans', sans-serif;
}
