/** @format */



body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

h1,
h2 {
	font-family: 'Lexend', sans-serif;
}


body.modal-open {
    overflow: hidden;
}



input[type='text'],
input[type='number'],
input[type='email'],
textarea {
	font-size: 16px;
}

#content.disable {
	overflow: hidden;
	position: fixed;
}



@font-face {
	font-family: "Circular-Medium";
	src: local("Circular"),
	url("./fonts/Circular/CircularStd-Medium.otf") format("opentype");
}


@font-face {
	font-family: "Circular-Book";
	src: local("Circular"),
	url("./fonts/Circular/CircularStd-Book.otf") format("opentype");
}

@font-face {
	font-family: "Circular-Light";
	src: local("Circular"),
	url("./fonts/Circular/CircularStd-Light.otf") format("opentype");
}


